package pages

import "github.com/PS-Wizard/GOAT/views/snippets"

templ About() {
	@snippets.Base("About Page") {
		<div class="flex justify-center items-center h-screen flex-col">
			<p class="text-3xl text-center">About</p>
			<a href="/">goto Home</a>
		</div>
	}
}
