package pages

import "github.com/PS-Wizard/GOAT/views/snippets"

templ Home() {
	@snippets.Base("Home Page") {
		<div class="flex justify-center items-center h-screen flex-col">
			<p class="text-3xl text-center">Home</p>
			<a href="/about">goto About</a>
		</div>
	}
}
